{%load static%}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'Footer.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
    <div class="footer">
        <div class="footer-content">
            <h3>FOLLOW</h3>
        
    <a href="https://www.facebook.com/profile.php?id=100089306941806&mibextid=ZbWKwL">  <img src="{%static 'fb.png'%}" alt="sfb"/></a>
    <a href="https://instagram.com/twice.creation?igshid=ZDdkNTZiNTM="> <img src="{%static 'insta.png'%}" alt="sfb"/></a>
    </div>
    <div class="footer-bottom">
       
            <p>copyright &copy; <i>SOHOM</i> </p>
                    
        </div>
    </div>
        
</body>
</html>